.popup__submit-button {
    background-image: url(../../../images/—Ålose-Icon.svg);
    background-size: 58px;
    background-position: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    z-index: -1;
    border: none;
}

.popup__submit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 540px) {
    .popup__submit-button {
        background-size: 38px;
        width: 26px;
        height: 26px;
        top: -50px;
        right: 0;
    }
}