.profile__edit-button_pencil {
    width: 10px;
    height: 10px;
    background-color: #000;
}

@media screen and (max-width: 400px) {
    .profile__edit-button_pencil {
        width: 7.5px;
        height: 7.5px;
    }
}